@import "blueprint";

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
@include blueprint-ie;


#my-container {
  text-align: left
}

nav#links ul {
  list-style: disc;
  padding-left: 1.5em;
  & li:before {
    content: "";
    display: none;
  }
}
