@import "blueprint/reset";

@import "partials/base";

@import "blueprint";
@import "blueprint/colors";
@import "compass/css3";

// setup

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
@include blueprint;

// layout

body.two-col {
  $content-columns: 18;
  $sidebar-columns: $blueprint-grid-columns - 2 - $content-columns;
  #container {
    @include container;
    margin-top: $blueprint-grid-margin;
  }
  #header, #footer {
    @include column($content-columns + $sidebar-columns);
    @include prepend(1);
  }
  #header {
    margin-top: $blueprint-grid-width;
  }
  #sidebar {
    @include column($sidebar-columns);
    @include prepend(1);
  }
  #content {
    @include column($content-columns, true);
  }
}

// presentation

body {
  background: url('../images/1336.png') #000;
}

#container {
  background: url('../images/skyline.jpg') #015;
  min-height: 500px;
  @include border-radius(10px);
  @include single-box-shadow(rgba(255, 255, 255, 0.75), 0px, 0px, 5px);
}

header,
footer,
nav,
section {
  background: #b5b9cb;
  background: rgba(255, 255, 255, 0.7);
  @include border-radius;
  border: 2px solid #5c2010;
  @include box-sizing(border-box);
  padding: $blueprint-grid-margin / 2;
  margin-bottom: $blueprint-grid-margin;
  & *:last-child {
    margin-bottom: 0;
  }
}

nav a {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}
