{% extends "base.html" %}
{% block title %}{{ SITENAME }}: All Articles{% endblock %}
{% block content %}

{% block content_title %}{% endblock %}


<section class="articles">
{% for article in articles_page.object_list %}
<article class="hentry">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h2>
    <dl class="post-info">
      {% if article.date %}
      <dt>Published:</dt>
      <dd>
        <time class="published" datetime="{{ article.date.isoformat() }}">
          {{ article.locale_date }}
        </time>
      </dd>
      {% endif %}
      {% if article.category %}
      <dt>Category:</dt>
      <dd>
        <a href="{{ article.category.url }}">{{ article.category.name }}</a>
      </dd>
      {% endif %}
      {% if article.tags %}
      <dt>Tags:</dt>
      <dd>
        <ul class="article-tags">
          {% for tag in article.tags %}
          <li>
            <a href="{{ tag.url }}">{{ tag.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </dd>
      {% endif %}
    </dl>
  </header>
  <section class="entry-content">
    {{ article.summary }}
  </section>
  <footer>
    <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">
      read full article
    </a>
  </footer>
</article>
{% endfor %}
</section>
{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}
{% endblock content %}
