@import "compass";

@mixin cs-test {
  @if $show-cs-test {
    body:before {
      content: "";
      display: block;
      height: 2em;
      position: relative;
      z-index: 999;
      @include background(
        linear-gradient(left,
                        $cs-color1 0%, $cs-color1 25%,
                        $cs-color2 25%, $cs-color2 50%,
                        $cs-color3 50%, $cs-color3 75%,
                        $cs-color4 75%, $cs-color4 100%));
    }
  }
}

@mixin social-icon($id, $icon) {
  li#nav_#{$id} a:before {
    background-image: inline-image("social/webicon-#{$icon}.svg");
  }
}

@mixin button($background: $button-color, $color: $button-text-color) {
  text-decoration: none;
  padding: 0.25em;
  display: block;
  margin: 0.25em 0.125em;
  border: thin solid $background;
  background: $background;
  color: $color;
  @include border-radius(0.25em);
  @include transition-duration(0.25s);

  &:link, &:visited {
    background: $background;
    color: $color;
  }

  &:hover, &:focus {
    background: $color;
    color: $background;
  }

  &:active {
    background: darken($color, 0.8);
    color: $background;
  }
}
