@import "compass";
@import "susy";

// colors

/// color scheme

/* color scheme id: http://colorschemedesigner.com/#3311Sp9brubF3 */

$cs-color1: #0d3e29;
$cs-color2: #133023;
$cs-color3: #80bda3;
$cs-color4: #052a1a;
$show-cs-test: false;

/// derived colors

$page-background: $cs-color3;
$header-background: $cs-color4;
$header-color: $cs-color3;
$footer-color: $cs-color3;
$footer-background: $cs-color4;
$content-bg-color: transparentize(#fff, 0.2);
$text-color: $cs-color4;
$link-color: $text-color;
$border-color: $cs-color4;
$button-color: $cs-color3;
$button-text-color: $cs-color1;

// grid

$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 0;

@function column-ems($n) {
  @return ($n * ($column-width + $gutter-width)) + $grid-padding;
}

$content-columns: 7; // mobile first max of 35em
$links-columns: 2; // number of columns for the links area
$social-columns: 3; // number of columns for the social area
$total-columns: $content-columns;
$break1-columns: $content-columns + $links-columns;
$break2-columns: $break1-columns + $social-columns;
$break1: column-ems($break1-columns) $break1-columns column-ems($break2-columns);
$break2: column-ems($break2-columns) $break2-columns lt-ie9; // wide

// derived dimensions
$basic-margin: $gutter-width / 2;
