@charset "utf-8";

@import "settings"; // also imports all the needed imports
@import "mixins";

// rules

@include cs-test;
@include border-box-sizing;

body {
  line-height: 1.25;
  background: $page-background;
  font-family: "TexGyreAdventorRegular", sans-serif;
}

#page_container {
  @include container;
  background: $content-bg-color;
  color: $text-color;
}

#page_header {
  font-family: "TexGyrePagellaRegular", serif;
}

nav.nav_links ul {
  padding: 0 0 0 0;
  margin: 0;
  list-style: none;
}

nav#social_links {
  text-align: center;
  li {
    text-align: left;
    font-size: 0.875em;
    display: inline-block;
    a {
      @include button;
    }
  }
  li a:before {
    content: "";
    height: 1.618em;
    width: 1.618em;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25em;
  }
  @include social-icon(email, mail);
  @include social-icon(github, github);
  @include social-icon(coderwall, coderwall);
  @include social-icon(linkedin, linkedin);
  @include social-icon(stackexchange, stackoverflow);
  @include social-icon(gplus, googleplus);
  @include social-icon(facebook, facebook);
  @include social-icon(twitter, twitter);
}

#page_footer {
  i.fa {
    // icon colors from simpleicons.org
    &.fa-html5 {
      color: #f06529;
    }
    &.fa-css3 {
      color: #0092bf;
    }
    &.fa-github {
      color: #000000;
    }
  }
}
