@charset "utf-8";

@import "settings"; // also imports all the needed imports
@import "mixins";

// rules

@include cs-test;
@include border-box-sizing;

body {
  line-height: 1.25;
  background: $page-background;
  font-family: "TexGyreAdventorRegular", sans-serif;
}

#page_container {
  @include container;
  background: $content-bg-color;
  color: $text-color;
}

#page_header {
  font-family: "TexGyrePagellaRegular", serif;
}

nav.nav_links ul {
  padding: 0 0 0 0;
  margin: 0;
  list-style: none;
}

#page_footer {
  i.fa {
    // icon colors from simpleicons.org
    &.fa-html5 {
      color: #f06529;
    }
    &.fa-css3 {
      color: #0092bf;
    }
    &.fa-github {
      color: #000000;
    }
  }
}
