@charset "utf-8";

@import "compass";
@import "susy";

// colors

$text-color: #000000;

// grid

$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width / 2;

$total-columns: 7; // mobile first max of 35em

// rules

@include border-box-sizing;

body {
  line-height: 1.25;
}

#page_container {
  @include container;
}

// nav icon colors

nav ul.fa-ul li i.fa {
  color: $text-color;
  // from simpleicons.org
  &.fa-github {
    color: #000000;
  }
  &.fa-linkedin-square {
    color: #007fb1;
  }
  &.fa-stack-exchange {
    color: #1f5196;
  }
  &.fa-google-plus-square {
    color: #d14836;
  }
  &.fa-facebook-square {
    color: #3b5998;
  }
  &.fa-twitter {
    color: #00aced;
  }
}

#page_footer {
  i.fa {
    &.fa-html5 {
      color: #f06529;
    }
    &.fa-css3 {
      color: #0092bf;
    }
    &.fa-github {
      color: #000000;
    }
  }
}
