@charset "utf-8";

@import "settings"; // also imports all the needed imports
@import "mixins";

// rules

@include cs-test;
@include border-box-sizing;

body {
  line-height: 1.25;
  background: $page-background;
  font-family: "TexGyreAdventorRegular", sans-serif;
}

#page_container {
  @include container;
  background: $content-bg-color;
  color: $text-color;
}

#page_header {
  font-family: "TexGyrePagellaRegular", serif;
}

// nav icon colors

nav ul li i.fa {
  color: $text-color;
  // from simpleicons.org
  &.fa-github {
    color: #000000;
  }
  &.fa-linkedin-square {
    color: #007fb1;
  }
  &.fa-stack-exchange {
    color: #1f5196;
  }
  &.fa-google-plus-square {
    color: #d14836;
  }
  &.fa-facebook-square {
    color: #3b5998;
  }
  &.fa-twitter {
    color: #00aced;
  }
}

#page_footer {
  i.fa {
    &.fa-html5 {
      color: #f06529;
    }
    &.fa-css3 {
      color: #0092bf;
    }
    &.fa-github {
      color: #000000;
    }
  }
}
