@charset "utf-8";

@import "settings"; // also imports all the needed imports
@import "mixins";

// rules

@include cs-test;
@include border-box-sizing;

body {
  line-height: 1.25;
  background: inline-image('graph-trans-bg.png') $page-background;
  font-family: "TexGyreAdventorRegular", sans-serif;
}

a:link {
  text-decoration: underline;
}

#page_container {
  @include container;
  background: inline-image('noise-trans-bg.png') $content-bg-color;
  color: $text-color;
  a:link {
    color: $link-color;
  }
}

#page_header {
  font-family: "TexGyrePagellaRegular", serif;
  background: $header-background;
  color: $header-color;
  @include bleed($gutter-width);
  border: 1px solid $header-background;
  a:link {
    color: $header-color;
  }
}

nav.nav_links ul {
  padding: 0 0 0 0;
  margin: 0;
  list-style: none;
}

nav#social_links, nav#content_links {
  text-align: center;
  li {
    text-align: left;
    font-size: 0.875em;
    display: inline-block;
    a {
      @include button;
    }
  }
}

nav#social_links {
  $icon_height: 1.618em;
  $icon_margin: 0.125em;
  $left_padding: ($icon_margin * 2) + $icon_height;
  $vert_padding: ($icon_margin);
  li a {
    position: relative;
    top: 0;
    left: 0;
    line-height: $icon_height;
    padding-top: $vert_padding;
    padding-bottom: $vert_padding;
    padding-left: $left_padding;
    &:before {
      content: "";
      height: $icon_height;
      width: $icon_height;
      background-size: contain;
      display: block;
      position: absolute;
      left: $icon_margin;
      top: $icon_margin;
    }
  }
  @include social-icon(email, mail);
  @include social-icon(github, github);
  @include social-icon(coderwall, coderwall);
  @include social-icon(linkedin, linkedin);
  @include social-icon(stackexchange, stackoverflow);
  @include social-icon(gplus, googleplus);
  @include social-icon(facebook, facebook);
  @include social-icon(twitter, twitter);
}

#page_footer {
  background: $header-background;
  color: $header-color;
  @include bleed($gutter-width);
  border: 1px solid $header-background;
  font-size: 0.85em;

  a:link, a:visited {
    color: $header-color;
  }
}
