$total-columns: 4;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width / 2;
$show-grid-backgrounds: false;

@import "susy";
@import "compass";

// RESET ---------------------------------------------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

// ROOT ----------------------------------------------------------------------

html {
  overflow-y: scroll;
  background: #fff;
  line-height: 1.2;
  font-family: 'Volkorn', Georgia, serif;
}

@include border-box-sizing;

// LAYOUT --------------------------------------------------------------------

article.resume {
  @include container;
  @include susy-grid-background;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

header {
  border-bottom: 0.0625em solid black;
  padding-bottom: 0.5em;
  text-align: center;
  hgroup {
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.3em;
      font-weight: normal;
    }
  }
  div.contact {
    dl {
      font-size: 0.875em;
      line-height: 1.4;
      display: inline-block;
      dt {
        float: left;
        clear: both;
        font-weight: bold;
      }
      dd {
        padding-left: 1em;
        float: right;
      }
    }
  }
}

section {
  border-bottom: 0.0625em solid black;
  padding: 0.5em 0;
  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }
  ul {
    margin-left: 2em;
    li {
      margin-bottom: 0.25em;
    }
  }
}

#skills {
  div.skillset {
    padding-left: 1em;
    padding-bottom: 0.25em;
    h3 {
      font-weight: bold;
      margin-left: -0.5em;
    }
    ul {
      list-style: none;
      margin-left: 0;
      li {
        display: inline;
        &:after {
          content: ",";
        }
        &:last-child:after {
          content: none;
        }
      }
    }
  }
}

#employment {
  h3 {
    font-weight: bold;
  }
  h4 {
    margin-left: 0.25em;
  }
  h4.town {
    font-size: 0.875em;
  }
  h4.title {
    font-weight: bold;
    font-size: 0.875em;
  }
  h4.date-range {
    font-style: italic;
    font-size: 0.875em;
  }
  div.employment {
    border-top: thin solid #ccc;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  h2 + div.employment {
    border-top: none;
  }
}

#education {
  h3 {
    font-weight: bold;
  }
  h4.degree {
    font-style: italic;
    font-size: 0.875em;
    margin-left: 0.25em;
  }
}

footer {
  text-align: center;
  padding-top: 0.25em;
  span.name {
    font-weight: bold;
  }
}

@mixin wide-header {
  header {
    @include clearfix;
    hgroup {
      @include span-columns(3);
      text-align: left;
    }
    div.contact {
      @include span-columns(3 omega);
      text-align: right;
    }
  }
}

@include at-breakpoint(30em 6 45em) {
  article.resume {
    @include container;
    @include susy-grid-background;
  }
  @include wide-header;
}

@include at-breakpoint(45em 9 60em) {
  article.resume {
    @include container;
    @include susy-grid-background;
  }
  @include wide-header;
}

@include at-breakpoint(60em 12) {
  article.resume {
    @include container;
    @include susy-grid-background;
  }
  @include wide-header;
}
