@import "compass";
@import "normalize";

body {
  font-size: 10pt;
  margin: 0.25in;
  font-family: 'Noticia Text', Georgia, serif;
  line-height: 1.375;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0 0 0 2em;
}

header {
  @include clearfix;
  border-bottom: 2pt solid black;
  padding-bottom: 0.5em;

  hgroup {
    float: left;
    h1 {
      font-size: 2.3em;
    }
    h2 {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  div.contact {
    float: right;
    text-align: right;
    dl {
      dt {
        font-weight: bold;
        float: left;
        clear: both;
      }
      dd {
        float: right;
      }
    }
  }
}

section {
  border-bottom: 2px solid black;
  padding: 0.5em 0;
  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  h3 {
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 0.25em;
  }
  h4 {
    font-size: 1em;
    font-weight: normal;
    padding-left: 0.5em;
  }
  ul {
    font-size: 0.9em;
  }
}

#skills {
  h3 {
    padding-left: 0.25em;
  }
  ul {
    margin: 0;
    padding: 0 0 0 0.75em;
    list-style: none;
    li {
      @include inline-block;
      &:after {
        content: ",";
      }
      &:last-child:after {
        content: "";
      }
    }
  }
}

#employment {
  h4.town {
    display: inline;
    &:after {
      content: ",";
    }
  }
  h4.date-range {
    display: inline;
    font-style: italic;
  }
  h4.title {
    font-weight: bold;
  }
  div.employment {
    border-top: 1pt solid #aaaaaa;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }
}

#education {
  h4.degree {
    font-style: italic;
  }
}

footer {
  text-align: center;
}
