@import "blueprint/reset";

@import "partials/base";

@import "blueprint";
@import "blueprint/colors";
@import "compass/css3";
@import "compass/utilities/sprites";

// setup

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
@include blueprint;

// sprites

$disable-magic-selectors: true;

@import "icon/*.png"; /**/

// layout

body.two-col {
  $content-columns: 18;
  $sidebar-columns: $blueprint-grid-columns - 2 - $content-columns;
  #container {
    @include container;

    margin-top: $blueprint-grid-margin;
  }
  #header, #footer {
    @include column($content-columns + $sidebar-columns);
    @include prepend(1);
  }
  #header {
    margin-top: $blueprint-grid-width;
  }
  #footer {
    margin-bottom: $blueprint-grid-width;
  }
  #sidebar {
    @include column($sidebar-columns);
    @include prepend(1);
  }
  #content {
    @include column($content-columns, true);
  }
}

// presentation

body {
  background: url('../images/1336.png') #000;
}

#container {
  background: url('../images/skyline.jpg') #000 no-repeat;
  min-height: 500px;
  @include border-radius(10px);
  border: 1px solid #181818;
}

header,
footer,
nav,
section {
  background: #b5b9cb;
  background: rgba(255, 255, 255, 0.7);
  @include border-radius;
  border: 2px solid #5c2010;
  @include box-sizing(border-box);
  padding: $blueprint-grid-margin / 2;
  margin-bottom: $blueprint-grid-margin;
  & *:last-child {
    margin-bottom: 0;
  }
}

header h1 {
  position: relative;
  top: -5px;
}

nav a {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: underline;
  }
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav#links ul {
  list-style: none;
  padding-left: 0;
  & li:before {
    margin-right: 5px;
    content: " ";
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    overflow: none;
  }
}
li#email:before { @include icon-sprite(email); }
li#coderwall:before { @include icon-sprite(coderwall); }
li#github:before { @include icon-sprite(github); }
li#gplus:before { @include icon-sprite(gplus); }
li#facebook:before { @include icon-sprite(facebook); }
li#linkedin:before { @include icon-sprite(linkedin); }
li#twitter:before { @include icon-sprite(twitter); }
li#stackexchange:before { @include icon-sprite(stackexchange); }
li#stackcareers:before { @include icon-sprite(stackexchange); }
li#resume:before {
  @include icon-sprite(resume);
  position: relative;
  left: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}
