@import "imports/normalize.css";

:root {
  --default-spacing: 1rem;
}

@custom-media --small-viewport screen and (max-width: 30em);
@custom-media --notsmall-viewport screen and (min-width: 30em);
@custom-media --large-viewport screen and (min-width: 45em);
@custom-media --printed print;

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  background: #fff;
  color: #000;
  line-height: 1.2;
  font-family: "Noticia Text", Georgia, serif;
}

article.resume {
  padding: 0 var(--default-spacing);
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0;
}

header.banner h1 {
  font-weight: normal;
}

header.banner p.summary {
  font-size: 1.3em;
  margin: 0;
}

header.banner dl { margin: 0; }

header.banner dl dt {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

header.banner dl dd {
  margin: 0;
  padding-left: 1ch;
}

header.banner, section.main {
  padding-bottom: calc(var(--default-spacing) / 1.5);
  margin-bottom: calc(var(--default-spacing) / 2);
  border-bottom: thin solid black;
}

section.main div.section-info {
  margin-left: var(--default-spacing);
}

section.main ul {
  margin-top: 0;
  margin-bottom: 0;
}

section.main p {
  margin-top: 0;
  margin-bottom: 0;
}

section#skills ul {
  margin: 0 0 0 var(--default-spacing);
  padding: 0;
  list-style: none;
}

section#skills ul li {
  display: inline-block;
}

section#skills ul li::after {
  content: ",";
}

section#skills ul li:last-child::after {
  content: "";
}

section.employment {
  margin-top: calc(var(--default-spacing) / 1.5);
  padding-top: calc(var(--default-spacing) / 2);
  border-top: thin solid #ccc;
  &:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
}

section.employment p.date-range {
  font-style: italic;
}

section.employment p.title {
  font-weight: bold;
}

footer.main span.name::after {
  content: " \2014";
}

@media (--small-viewport) {
  header.banner {
    text-align: center;
  }

  header.banner dl {
    font-size: 90%;
    display: inline-block;
  }

  header.banner dl dt {
    clear: both;
    float: left;
  }

  header.banner dl dd {
    padding-left: 1ch;
    float: right;
  }
  @supports(display: inline-grid) {
    header.banner dl {
      margin: 0 auto;
      display: inline-grid;
      grid-template-columns: min-content min-content;
      grid-gap: 0 1ch;
      align-items: center;
    }

    header.banner dl dd {
      padding-left: 0;
      justify-self: end;
    }

    header.banner dl dt {
      justify-self: start;
    }
  }

  footer.main {
    text-align: center;
  }
}

@media (--notsmall-viewport) {
  header.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header.banner div.contact {
    align-self: flex-end;
  }

  header.banner dl {
    display: inline-block;
  }

  header.banner dl dt {
    clear: both;
    float: left;
  }

  header.banner dl dd {
    padding-left: 1ch;
    float: right;
  }

  @supports(display: grid) {
    header.banner {
      display: grid;
      grid-template-columns: max-content minmax(min-content, 1fr);
    }

    header.banner div.contact {
      align-self: end;
      justify-self: end;
    }

    header.banner dl {
      display: grid;
      grid-gap: 0 1ch;
      align-items: center;
      grid-template-columns: min-content min-content;
    }

    header.banner dl dd {
      padding-left: 0;
      justify-self: end;
    }
  }

  footer.main span.name::after {
    content: "";
  }

  footer.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (--large-viewport) {
  article.resume {
    max-width: 45em;
  }

  header.banner h1 {
    font-size: 2.5em;
    letter-spacing: 0.05em;
  }

  header.banner p.summary {
    font-size: 1.5em;
    letter-spacing: 0.05em;
  }

  header.banner dl {
    font-size: 1.2em;
  }
}

@media (--printed) {
  html {
    font-size: 10pt;
    line-height: 1.375;
  }

  body {
  }

  article.resume {
    max-width: auto;
    padding: 0;
    margin: 0;
  }

  header.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header.banner div.contact {
    align-self: flex-end;
  }

  header.banner dl {
    display: inline-block;
  }

  header.banner dl dt {
    clear: both;
    float: left;
  }

  header.banner dl dd {
    padding-left: 1ch;
    float: right;
  }

  @supports(display: grid) {
    header.banner {
      display: grid;
      grid-template-columns: max-content minmax(min-content, 1fr);
    }

    header.banner div.contact {
      align-self: end;
      justify-self: end;
    }

    header.banner dl {
      display: grid;
      grid-gap: 0 1ch;
      align-items: center;
      grid-template-columns: min-content min-content;
    }

    header.banner dl dd {
      padding-left: 0;
      justify-self: end;
    }
  }

  header.banner, section.main {
    border-bottom: 2pt solid black;
  }

  section.employment {
    border-top: 1pt solid #888;
    page-break-inside: avoid;
  }

  section.employment {
    break-inside: avoid;
  }

  section.employment:first-child {
    border-top: none;
  }

  footer.main span.name::after {
    content: "";
  }

  footer.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
