
<p>
This site was written by hand in <a href="http://www.vim.org">VIM</a>,
and designed directly in the browser. It uses <a
  href="http://jquery.com">JQuery</a> for behavior, but does not
require javascript to access the content of the site. It will look best
in a modern browser, but will degrade gracefully to display its content
in any web browser technology. <a
  href="http://compass-style.org">Compass</a> and <a
  href="http://sass-lang.com">Sass</a> were used to manage the CSS.
</p>

<p>
The background texture comes from
<a href="http://patterns.ava7.com/" title="ava7 patterns">ava7
  patterns</a>, used with thanks. The background photograph was taken
by me.
</p>

<p>Fonts are from <a href="http://www.fontsquirrel.com"
  title="Font Squirrel">Font Squirrel</a>. The masthead font is <a
  href="http://www.fontsquirrel.com/fonts/TeX-Gyre-Pagella"
  title="Font Squirrel: TeX Gyre Pagella">TeX Gyre Pagella</a>, and the
body font is <a
  href="http://www.fontsquirrel.com/fonts/TeX-Gyre-Adventor"
  title="Font Squirrel: TeX Gyre Adventor">TeX Gyre Adventor</a>.  </p>

