<p>I'm Mike Bloy. You either know me, or have heard of me, or Google has dropped you here in a freak search engine accident.</p>

<p>I am a husband and father. I am a programmer and web developer. I
live in Wisconsin.</p>

<p>I am <em>not</em> the sales director in Boston, or the insurance
salesman in Germany, or the teacher in the UAE, or the compliance
specialist in the UK</p>

<p>If you are one of those other guys who share my name, hi! Drop me an
email!</p>
