
<p>
I am a husband and father, with a wonderful wife and a school-age son.
My hobbies include photography, bicycling, tabletop and computer
gaming, and tinkering with computers. My wife shares some of these and
puts up with the rest.
</p>
<p>
I live in Madison, WI, a great town for foodies, hippies, hipsters,
students, yuppies, and lovers of beer.
</p>

