
<p>I'm a developer, linux consultant, web standards advocate, and
version control guru.</p>

<p>I currently work for <a href="http://alice.com"
  title="Alice">Alice.com</a>. Their opinions are theirs, mine are
mine. This page contains my opinions, not theirs.  Previous employers
have been: a telecom company, a production house, a nonprofit, and a
university. </p>

<p>I can write code productively in Ruby, Java, Python, or Perl. I'm
slightly less efficient in PHP, or C++, having lost the day-to-day
knowledge. Any other language, I can puzzle out and make modifications
to existing code, but would take a week or so to get up to speed.
Programming is programming, no matter the language. The differences are
just idiom.</p>

<p>I can and do install and maintain linux on the desktop or as a
server. I prefer <a href="http://debian.org" title="Debian">Debian</a>.
I've been responsible for installing and maintaining web servers,
database servers, email servers, version control repositories, jabber
servers, file servers, and continuous integration servers. </p>

<p>I have been creating web pages since 1995, before there were web
standards to be concerned with. These days I know the value of good
content and code that is kind to search engines and accessibility
software, and pages that work even if their behavior is disabled. I've
tracked the development of CSS-based design and unobtrusive javascript
since their beginnings, and applied them as they evolved.  </p>

